name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # Install dependencies
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install -r lectures/requirements.txt
      - name: Install LaTeX dependencies
        run: |
            sudo apt-get -qq update
            sudo apt-get install -y     \
            texlive-latex-recommended \
            texlive-latex-extra       \
            texlive-fonts-recommended \
            texlive-fonts-extra       \
            texlive-xetex             \
            latexmk                   \
            xindy                     \
            texlive-luatex            \
            dvipng                    \
            ghostscript               \
            cm-super
      - name: Set up Julia
        uses: julia-actions/setup-julia@v1
        with:
            version: 1.9
      - name: Install IJulia and Setup Project
        shell: bash
        run: |
            julia -e 'using Pkg; Pkg.add("IJulia");'
            julia --project=lectures --threads auto -e 'using Pkg; Pkg.instantiate();'
      - uses: julia-actions/cache@v1
      - name: Build the book
        run: |
            jupyter-book build lectures/
      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: lectures/_build/html