name: deploy-book

# Only run this when the master branch changes
on:
  push:
    branches:
      - master
    paths: lectures/**
  workflow_dispatch:

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install Python dependencies
      run: |
        pip install -r lectures/requirements.txt
    - name: Install LaTeX dependencies
      run: |
        sudo apt-get -qq update
        sudo apt-get install -y     \
          texlive-latex-recommended \
          texlive-latex-extra       \
          texlive-fonts-recommended \
          texlive-fonts-extra       \
          texlive-xetex             \
          latexmk                   \
          xindy                     \
          texlive-luatex            \
          dvipng                    \
          ghostscript               \
          cm-super
    - name: Set up Julia
      uses: julia-actions/setup-julia@v1
      with:
        version: 1.9
    - name: Install IJulia and Setup Project
      shell: bash
      run: |
        julia -e 'using Pkg; Pkg.add("IJulia");'
        julia --project=lectures --threads auto -e 'using Pkg; Pkg.instantiate();'

    - name: Build the book
      run: |
        jupyter-book build lectures/

    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        folder: lectures/_build/html
        clean-exclude: pr-preview